body {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sticky Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: 0.4s;
  width: 100%;
  position: fixed; 
  top: 0;
  z-index: 99;
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

#navbar a {
  display:flexbox;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 8px;
}

#navbar #logo {
  height: 40px;
  width: auto;
  transition: 0.4s;
  margin-left: 10px;
}

#navbar a:hover {
  background-color: #5c2323;
  color: rgb(255, 255, 255);
}

#navbar a.active {
  background-color: #5c2323;
  color: white;
}

#navbar-right {
  display: flex;
  margin-right: 15px;
}

body {
  padding-top: 60px; /* Adjust based on your navbar height */
}

#section {
  min-height: 100vh;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body, html {
  height: 100%;
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  padding: 0 20px;
  max-width: 100%;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 1rem;
}

.hero-button {
  border: none;
  font-family: "Libre Baskerville", serif;
  color: rgb(255, 255, 255);
  background-color: #5c2323;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.8;
  padding: 8px 16px;
  margin: 10px;
}

.hero-button:hover {
  opacity: 1;
}

#products {
  padding: 40px 20px;
}

.small-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  flex-wrap: wrap;
}

.menu h2 {
  font-size: 28px;
  margin: 10px 0;
}

.menu button {
  font-size: 14px;
  margin: 10px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-4 {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #010101;
  border-radius: 10px;
  margin-bottom: 15px;
}

.col-4 img {
  width: 100%;
  height: auto;
}

.col-4 h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.col-4 p {
  margin-top: 10px;
}

.col-4 button {
  margin-top: 15px;
  margin-bottom: 10px;
}

#about {
  background: #f4f4f4;
  padding: 80px 20px;
  text-align: center;
  font-style: italic;
}

#about h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

#reviews{
  background: #f4f4f4;
  padding: 80px 20px;
  text-align: center;
  font-style: italic;
}
#reviews h1 {
  font-size: 32px;
  margin-bottom: 30px;
}
#reviews p{
  margin:20px
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
}

#contact h1 {
  font-size: 24px;
}

#contact img {
  width: 50%;
  max-width: 150px;
  height: auto;

}

#contact p {
  font-size: 18px;
}


/* (phones, 576px and up) */
@media (min-width: 576px) {
  #reviews{
    display: none;
  }
  .mobile-only{
    display: none;
  }

  .col-4 {
    width: 48%;
  }
  
  .hero-title {
    font-size: 2.8rem;
  }
  
  .hero-subtitle {
    font-size: 1.8rem;
  }
  
  #contact img {
    width: 30%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .col-4 {
    width: 31%;
  }

  #navbar a {
    padding: 15px;
    font-size: 18px;
  }
  
  .hero-title {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-4 {
    width: 23%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #010101;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  #about {
    padding: 100px 20px;
  }
  
  #about h1 {
    font-size: 40px;
  }
  
  #contact {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #contact img {
    width: 20%;
  }
  
  #contact p {
    font-size: 24px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #reviews{
    display:none;
  }

  .col-4 {
    width: 23%;
  }

  #about {
    padding: 150px 20px;

  #contact {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    flex-direction: row; /* Stacks elements vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers content vertically */
    padding: 50px 0;
    text-align: center;
  }
  
  #contact img {
    width: 30%;
  }
}

/* Extra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #about {
    padding: 200px 0;
  }
  
  #contact img {
    width: 30%;
  }
}

/* Mobile navigation menu */
@media (max-width: 767px) {
  #reviews {
    display: block;
  }
  
  #navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #navbar-right {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 0;
  }

  #navbar a {
    width: 100%;
    margin: 2px 0;
    text-align: left;
    font-size: 16px;
  }

  #contact img {
    width: 20%;
    margin-top: 30px;
  }

  #contact img{
    margin: 10px;
  }

}