body{
  font-family: "Libre Baskerville", serif;
}
#navbar {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: space-between; /* Distributes space between logo and links */
    overflow: hidden;
    padding: 10px 10px;
    transition: 0.4s;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 99;
  }
  /* Style the navbar links */
  #navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 8px;
  }
  
  /* Style the logo */
  #navbar #logo {
    height: 40px;
    width:auto;
    transition: 0.4s;
    margin-left: 15px;
  }
  
  /* Links on mouse-over */
  #navbar a:hover {
    background-color: #994e4e;
    color: rgb(255, 255, 255);

  }
  
  /* Style the active/current link */
  #navbar a.active {
    background-color: #5c2323;
    color: white;
  }
  
  /* Display some links to the right */
  #navbar-right {
    float: right;
    display: flex;
    margin-right: 30px;
  }

  #section {
    height: 100vh;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body, html {
    height: 100%;
  }
  
  

.hero {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}
.hero-content {
    position: relative; 
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}
.hero-button {
    border: none;
    font-family:"Libre Baskerville", serif;
    color: rgb(255, 255, 255);
    background-color: #5c2323;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.8;
  }
  .hero-button:hover{
    opacity: 1;
  }

.hero button{
  margin: 20px;
}

  #products {
    padding: 46px 20px;
  }
  
  .small-container {
    max-width: 1080px;
    margin: 0 auto;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
  }
  
  .menu h2 {
    font-size: 35px;
  }

  .menu button{
    font-size: 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-4 {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px groove #010101;
    margin-bottom: 15px;
  }
  
  .col-4 img {
    width: 100%;
  }
  
  .col-4 h4 {
    margin-top: 30px;
    margin-bottom: 5px;
  }
  
  .col-4 p {
    margin-top: 10px;
  }

  .col-4 button {
    margin-top:  20px;
    margin-bottom: 10px;

  }
  
  .hero-button {
    background-color: #5c2323;
    color: white;
    border: none;
    padding: 8px 16px;
  }